<style>
    #about.jumbotron{
        text-align: center;
        padding: 40px;
    }
</style>

<div class="jumbotron" id="about">
    <h1> Giáo kìn&#39; &quot;Tiếk Việt 1&quot; </h1>
    <p>PGS.TS Bùi Hiền (Nhà ngôn ngữ học đại tài của thế kỉ)</p>
    <p><a class="btn btn-default" role="button"  ng-click="show = true">Xem Giáo Trình</a></p>
    <div ng-show="show">
    
        <table class="table table-hover">
            <tr>
                <td><strong>Tiếng việt cũ</strong></td>
                <td><strong>Tiếng việt mới</strong></td>
                <td><strong>Lưu ý</strong></td>
            </tr>
            <tr>
                <td>tr</td>
                <td>c</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>q</td>
                <td>k</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>d</td>
                <td>z</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>c*</td>
                <td>k</td>
                <td>c + với 1 ký tự nào đó cũng thành k</td>
            </tr>
            <tr>
                <td>gi</td>
                <td>z</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>ch&nbsp;</td>
                <td>c</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>ngh</td>
                <td>q</td>
                <td>ngh + với 1 ký tự nào đó cũng thành q</td>
            </tr>
            <tr>
                <td>đ</td>
                <td>d</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>gh</td>
                <td>g</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>nh</td>
                <td>n'</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>kh</td>
                <td>x</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>ph</td>
                <td>f</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>r</td>
                <td>z</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>th</td>
                <td>w</td>
                <td>&nbsp;</td>
            </tr>
    </table>
    <p><a class="btn btn-default" role="button"  ng-click="show = false">Ẩn giáo trình</a></p>
</div>
    
</div>
</div>