<style>
    #about.jumbotron{
        text-align: center;
        padding: 40px;
    }
</style>

<div class="jumbotron" id="about">
    <h1> Giáo kìn&#39; &quot;Tiếk Việt 1&quot; Mới </h1>
    <div ng-hide="show">
        <img src="pages\imgc\hqdefault.jpg" class="img-circle" width="204" height="204">
        <p>PGS.TS Bùi Hiền </p>
        <p>(Không biết năm nào - chưa chết)</p>
    </div>
    <div ng-show="show">
        <img src="pages\imgc\buihien.jpg" class="img-circle" width="204" height="204">
        <p>PGS.TS Bùi Hiền </p>
        <p>(Nhầm,đây mới là ông ấy :v)</p>
    </div>
    <p><a class="btn btn-default" role="button"  ng-click="show = true">Xem Giáo Trình</a></p>
    <div ng-show="show">
        <div class="block block--plain">
            <h2 class="block__title">
                PGS Tiến Sĩ Bùi Hiền    </h2>
            <div class="block__body rich-text">
                PGS.TS Bùi Hiền là nguyên Hiệu Phó trường Đại học Sư phạm Ngoại ngữ Hà Nội (1967-1978), Nguyên Phó Viện trưởng Viện Nội dung & Phương pháp dạy – học phổ thông (1978-1993).
                Trước đó, PGS.TS Bùi Hiền từng giữ chức Chủ nhiệm khoa Nga trường ĐHSP Hà Nội từ năm 1958 đến 1967. Ông đã công bố khoảng 300 công trình nghiên cứu, sách báo, từ điển về tiếng Nga.     
                Chuyên gia Bùi Hiền đã bảo lệ luận án Phó Tiến sĩ tại trường Đại học Tổng hợp Quốc gia Lômônôxốp năm 1972 về lĩnh vực từ đồng nghĩa tiếng Nga. PGS.TS Bùi Hiền là người rất “chung thủy” với ngôn ngữ Nga.
                
                PGS. TS Bùi Hiền là tác giả của đề xuất cải cách tiếng Tiếng Việt thành Tiếq Việt, Giáo dục thành Záo Zụk. Những đề xuất thay đổi là thay đổi giá trị âm vị của 11 chữ cái hiện có, cụ thể: C = Ch, Tr; D = Đ; G = G, Gh; F = Ph; K = C, Q, K; Q = Ng, Ngh; R = R; S = S; X = Kh; W =Th; Z = d, gi, r. Vì âm “nhờ” (nh) chưa có kí tự mới thay thế, nên trong văn bản trên tạm thời dùng kí tự ghép n’ để biểu đạt.
            </div>
        </div>
        <table class="table table-hover">
            <tr>
                <td><strong>Tiếng việt cũ</strong></td>
                <td><strong>Tiếng việt mới</strong></td>
                <td><strong>Lưu ý</strong></td>
            </tr>
            <tr>
                <td>tr</td>
                <td>c</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>q</td>
                <td>k</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>d</td>
                <td>z</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>c*</td>
                <td>k</td>
                <td>c + với 1 ký tự nào đó cũng thành k</td>
            </tr>
            <tr>
                <td>gi</td>
                <td>z</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>ch&nbsp;</td>
                <td>c</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>ngh</td>
                <td>q</td>
                <td>ngh + với 1 ký tự nào đó cũng thành q</td>
            </tr>
            <tr>
                <td>đ</td>
                <td>d</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>gh</td>
                <td>g</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>nh</td>
                <td>n'</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>kh</td>
                <td>x</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>ph</td>
                <td>f</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>r</td>
                <td>z</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>th</td>
                <td>w</td>
                <td>&nbsp;</td>
            </tr>
    </table>
    <p><a class="btn btn-default" role="button"  ng-click="show = false">Ẩn giáo trình</a></p>
</div>
    
</div>
</div>